/*Header styles*/

.logoHeader {
    background: $darkest;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
        input {
            background-color: lighten($darkest, 15%);
            border: 2px solid lighten($darkest, 15%); 
            border-radius: 0px 20px 20px 0px;
            margin: 10px 0;
        }
        button {
            background-color: lighten($darkest, 15%);
            border: 2px solid lighten($darkest, 15%);
            border-right-color: $darkest; 
            border-radius: 20px 0px 0px 20px;
            margin: 10px 0;
        }
    }
}
//second header
   .header .menu-btn {
  display: none;
}
.navHeader, {
    background-color: $darkest;
    @include secondText(1.6rem, 400);
    border-top: 1px solid lighten($darkest, 15%);
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        justify-content: space-between;
         overflow: hidden;
    
            li {
                list-style: none;
                margin: 10px 0;
                color: white;
                text-transform: uppercase;
                margin-right: 25px;
                
            }
            li ul {
                display: none;
            }
            li:hover ul {
                display:block;
                width: 150px;
            }
            a {
                text-decoration: none;
                padding: 5px;
                color: white;
                &:hover {
                    color: $pink;
                }
                
                &:visted, &:active {
                    color:white;
                }
           
        }   
    }
}
.fullPageSearch {
    display: flex;
}
.mainNav {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    
}
.login {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
//3rd header
.sliderHeader {
    background-image: linear-gradient(rgba(48, 47, 47, 0.5),rgba(48,47,47,0.5)), url(../assets/header.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 80vh;

        h1, p {
            color: white;
            text-align: left;
            width: 50%;
        } 
    }
}
.sliderHeader h1 {
    font-weight: 200;
}